.game-container {
  width: 100%;
  height: 100%;
  background: url("../images/background/main-background.webp");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  justify-content: space-between;
  align-items: center;
}

.game-container header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.game-container header .player-container {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
}

.game-container header .player-container span {
  background: url("../../../images/elements/image-boarder.webp");
  background-size: 100% 100%;
  max-width: 100px;
  padding: 0.3rem 0.6rem 0.3rem 0.7rem;
}

.game-container header .player-container span img {
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  border: 2px solid #0d152e93;
}

.game-container header .player-container p {
  background: url("../../../images/elements/name-boarder.webp");
  background-size: 100% 100%;
  padding: 1rem 7rem 1rem 1rem;
  margin-left: -5px;
}

.game-container header .sound-drawer-button {
  border: 2px solid #e2e3dd;
  border-radius: 50%;
  padding: 0.5rem;
  transition: all 0.2s ease;
}

.game-container header .sound-setting {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  align-items: center;
  position: relative;
}

.game-container header .sound-setting ul {
  position: absolute;
  list-style: none;
  border: 2px solid #e2e3dd;
  border-radius: 1rem;
  display: none;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  bottom: -260%;
  right: 0;
  width: 150px;
  transform-origin: top;
}

.game-container header .sound-setting ul li {
  cursor: pointer;
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

/* Scorebar */
.game-container .scorebar-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.game-container .scorebar-container .scorebar {
  background: url("../../../images/elements/scores.webp");
  background-size: 100% 100%;
  width: clamp(50rem, 50vw, 60vw);
  aspect-ratio: 16 / 2.5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 500;
}

@media screen and (max-width: 600px) {
  .game-container .scorebar-container .scorebar {
    aspect-ratio: 16 / 3;
  }
}

.game-container .scorebar-container .scorebar > div {
  width: 50%;
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
}

/* Card Styles */

.game-container > main {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.game-container .card-container {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.game-container .card-container .card {
  max-width: 300px;
  height: auto;
  cursor: pointer;
}

.game-container .card-container .card .front {
  position: relative;
}

.game-container .card-container .card .front .card-details {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  padding: 1rem 1rem 1rem 1rem;
  text-align: justify;
  text-justify: auto;
  margin: 1.1rem 1.3rem;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 60%, transparent 100%);
  backdrop-filter: blur(2px);
  animation: slide-in 1 0.5s alternate;
  transform-origin: bottom;
}

.game-container .card-container .card:hover .card-details {
  display: flex;
}

.card-container .card .front .card-details h3 {
  font-family: var(--secondary-font);
}

.card-container .card .back {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.card-container .card .back.active {
  display: block;
}
