.login-container {
  background: url("../../../images/background/login-background.webp");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  justify-content: center;
}

.login-container .login-header {
  text-align: center;
  font-family: var(--secondary-font);
}

.login-container .login-header h1 {
  color: #ffc266;
  text-shadow: 2px 0 #492514, -2px 0 #fff, 0 2px #fff, 0 -2px #492514,
    1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #492514,
    0 0 10px #d55022, 0px 1rem 40px #130e22;
  line-height: 1.2;
}

.login-container .login-header h2 {
  text-shadow: 2px 0 #492514, -2px 0 #fff, 0 2px #fff, 0 -2px #492514,
    1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #492514,
    0 0 10px #d55022, 0px 1rem 40px #130e22;
}

.login-container .login-form {
  background: url("../../../images/elements/login-form.webp");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  padding: 7rem 3rem 5rem 3rem;
  width: fit-content;
}

.login-form .choose-difficulty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.login-form .choose-difficulty div {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-transform: uppercase;
}

.login-form .choose-difficulty div button {
  cursor: pointer;
}
