.login-container {
  background: url("../../../images/background/login-background.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.login-container > div {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 20%, transparent 100%);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 2rem 2.5rem;
  width: 100%;
  padding-bottom: 10rem;
  border-top: 2px solid #b8a61e;
}

.login-container .choose-difficulty {
  display: flex;
}

.login-container .choose-difficulty svg {
  pointer-events: none;
}

.login-container h1 {
  position: relative;
  font-family: "League Spartan", sans-serif;
  font-size: clamp(2rem, 5vw, 6vw);
  line-height: 1;
  background-image: linear-gradient(
    50deg,
    hsl(54deg 100% 55%) 0%,
    hsl(45deg 100% 50%) 26%,
    hsl(37deg 100% 48%) 46%,
    hsl(37deg 100% 48%) 56%,
    hsl(45deg 100% 50%) 70%,
    hsl(54deg 100% 55%) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  margin-bottom: 1rem;
  z-index: 4;
}
